<!DOCTYPE html>
<html lang="en" ng-app="app">

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand" style="color:white;">
            <img src="img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            The Restaurant
        </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" ui-sref="home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="menu">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="complaints">Complaints</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right ml-auto my-2 my-lg-0">
            <li class="nav-item">
                <a data-toggle="dropdown" ng-if="!logged" class="nav-link dropdown-toggle my-2 my-sm-0" href="#" target="_self">Login</a>
                <ul class="dropdown-menu dropdown-menu-right form-wrapper"style="background-color:rgba(255,255,255,.8);">
                    <li>
                        <form method="post" style="margin: 20px 20px 20px 20px;">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Username" required="required">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" required="required">
                            </div>
                            <input type="submit" ng-click="logged = true" class="btn btn-primary btn-block" value="Login">
                        </form>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" ng-if="!logged" target="_self" data-toggle="dropdown" class="btn btn-primary dropdown-toggle get-started-btn my-2 my-sm-0">Sign up</a>
                <ul class="dropdown-menu dropdown-menu-right form-wrapper" style="background-color:rgba(255,255,255,.8);">
                    <li>
                        <form method="post" style="margin: 20px 20px 20px 20px;">
                            <p class="hint-text">Fill in this form to create your account!</p>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Username" required="required">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" required="required">
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="Phone Number" required="required">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Address" required="required">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Another Address(Optional)" required="required">
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms &amp; Conditions</a></label>
                            </div>
                            <input type="submit" ng-click="logged = true" class="btn btn-primary btn-block" value="Sign up">
                        </form>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link my-2 my-sm-0" ui-sref="home" role="button"style="color: #DCDCDC;">Sign Out</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container-fluid container" style="margin-top: 20px;">

    <div class="row">
        <div class="col-7" style="background-color: white; margin-right: 60px; margin-bottom: 20px;">
            <ul class="list-group list-group-flush" style="padding: 20px;">
                <li class="list-group-item" ng-repeat="foodObject in listItems">
                    <img src={{foodObject.item.img}} height="80px" width="80px" style="display: inline;">
                    <h4 style="display: inline;"><strong>{{foodObject.item.name}}</strong></h4>
                    <small style="float: right;">${{foodObject.item.price}}.00</small>
                    <ul class="list-group list-group-flush" style="padding: 20px;">
                        <li class="list-group-item">
                            {{foodObject.item.description}}
                        </li>
                        <li class="list-group-item">
                            {{foodObject.size}}
                        </li>
                    </ul>
                    <button class="btn btn-primary" ng-click="remove(foodObject)">Remove</button>
                </li>
            </ul>
            <div>
                <p style="padding: 10px; float: right; background-color: #DCDCDC;">Total: ${{getTotal()}}.00</p>
            </div>
        </div>

        <div class="col-4" style="background-color: white; height: 400px;">
            <div>
                <label style="font-size: x-large; margin-top: 10px;">  <strong>Order Information</strong></label>
            </div>
            <ul class="list-group list-group-flush" style="padding: 20px;">
                <li class="list-group-item">
                    <label class="containerRadio">Delivery
                        <input type="radio" checked="checked" name="radio1">
                        <span class="checkmark"></span>
                    </label>
                    <label style="margin-left: 10px;">Your order will be delivered to your address</label>
                </li>
                <li class="list-group-item">
                    <label class="containerRadio">As Soon As Possible
                        <input type="radio" checked="checked" name="radio2">
                        <span class="checkmark"></span>
                    </label>
                    <label style="margin-left: 10px;">Estimated delivery time is 45 min.</label>
                </li>
            </ul>
            <a type="button" ui-sref="checkout({final: listItems})" ng-click="postOrder()" class="btn btn-primary btn-block" style="margin-bottom: 20px;">Checkout</a>
        </div>
    </div>
</div>

</body>
</html>