<!DOCTYPE html>
<html lang="en" ng-app="app">

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand" style="color:white;">
            <img src="img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            The Restaurant
        </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" ui-sref="home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="menu">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="complaints">Complaints</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right ml-auto my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link my-2 my-sm-0" ui-sref="home" role="button"style="color: #DCDCDC;">Sign Out</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container" style="margin-bottom: 70px; margin-top: 70px; width:50%;">
    <div class="card card-body">
        <h4 class="card-title" style="text-align: center;"><strong>Complaints and Suggestions</strong></h4>
        <form>
            <div class="form-group">
                <label for="inputSubject">Subject</label>
                <textarea class="form-control" ng-model="subject" id="inputSubject" placeholder="Enter Subject.." required
                          maxlength="50"/>
            </div>
            <div class="form-group">
                <label for="inputMessage">Message</label>
                <textarea class="form-control" ng-model="message" id="inputMessage" placeholder="Enter Message.." required
                          maxlength="300"/>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="addComplaint(subject, message)"
                    data-toggle="modal" data-target="#exampleModal">Submit</button>
        </form>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">Complaints & Suggestions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Your Complaint/Suggestion has been sent!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>