<!DOCTYPE html>
<html lang="en" ng-app="app">

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand" style="color:white;">
            <img src="img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            The Restaurant
        </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" ui-sref="home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="menu">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="complaints">Complaints</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right ml-auto my-2 my-lg-0">

            <li class="nav-item">
                <a class="nav-link my-2 my-sm-0" ui-sref="cart({items: cartItems})" role="button" style="color: #DCDCDC;" ng-click="sendCart()">
                    Cart  <span class="badge badge-primary badge-pill" style="display: inline;" ng-model="cnt">{{cnt}}</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link my-2 my-sm-0" ui-sref="home" role="button"style="color: #DCDCDC;">Sign Out</a>
            </li>
        </ul>
    </div>
</nav>

<div class="card text-white bg-dark mb-3" style="max-width: 18rem; display: inline-block; margin: 20px 20px 20px 20px;"  ng-repeat="item in items">
    <img class="card-img-top" src="{{item.img}}" alt="pizza" style="height: 191px;">
    <div class="card-body">
        <h5 class="card-title" style="display: inline;">{{item.name}}</h5>
        <h5 class="card-title" style="display: inline; float: right;">${{item.price}}.00</h5>
        <p class="card-text">{{item.description}}</p>
        <div class="form-group">
            <select ng-model="itemx" class="form-control" id="select1" style="display: inline; width: 120px; float: left; margin-bottom: 20px;" required>
                <option value="" selected disabled>Please select</option>
                <option>{{item.size[0]}}</option>
                <option>{{item.size[1]}}</option>
                <option>{{item.size[2]}}</option>
            </select>
            <button class="btn btn-primary" style="float: right; margin-bottom: 20px;" ng-click="addToCart(item, itemx)" ng-disabled="!itemx">Add to Cart</button>
        </div>
    </div>
</div>

</body>
</html>